@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari e Edge */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.no-scrollbar {
  scrollbar-width: none;
}

/* IE e Edge antigo */
.no-scrollbar {
  -ms-overflow-style: none;
}